/*  your css code here. If applicable */
body{
	display : flex;
	background-color : yellow;
	align-items : center;
	justify-content : center;
}
.main{
	display : flex;
	align-items : center;
	justify-content : center;
}
#f1 , #f2 {
	display : flex;
	align-items : center;
	justify-content : center;
}